@model MVC_Register.Models.UserPassword

@{
    ViewBag.Title = "ChangePasswordPageLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<div>
    @using (Html.BeginForm("ChangePasswordClick", "ChangePasswordDB", FormMethod.Post))
    {
        <div>
            <label>Old Password:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.oldpassword)
            @Html.ValidationMessageFor(m => m.oldpassword)
        </div>
        <div>
            <label>New Password:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.newpassword)
            @Html.ValidationMessageFor(m => m.newpassword)
        </div>
        <div>
            <label>Confirm Password:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.confirmpassword)
            @Html.ValidationMessageFor(m => m.confirmpassword)
        </div>
        <div>
            <input type="submit" value="Change Password" />
            @Html.DisplayFor(m => m.message)
        </div>
    }
</div>

